html{
    background-color: black;
}
body{
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    width: 500px;
    margin: 50px auto;
    padding: 25px 75px;
    border-radius: 50px;
}

h2{
    color: brown;
    text-decoration: underline;
}

li{
    font-family: 'Lucida Sans', 'Lucida Sans Regular',
     'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a{
    color: blueviolet;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    font-size: 40px;
}